.root {
    display: flex;
    align-items: center;
    gap: var(--unit);
}

.green {
    color: var(--green);
}

.red { 
    color: var(--red);
}

.button {
    color: var(--white);
    text-align: left;
    position: relative;
    width: 100%;
    outline: none;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border);
    border-radius: var(--unit);
    padding: calc(var(--unit) * 1.5);
}

.button:not(:disabled) {
    cursor: pointer;
}

.button:disabled,
.button:disabled .green,
.button:disabled .red {
    color: var(--border);
}

.title {
    font-weight: 600;
}

.image {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 72px;
    height: auto;
}

.content {
    z-index: 1;
    position: relative;
}

.content > div:last-of-type {
    font-size: var(--body2);
}

@media (max-width: 380px) { 
    .root {
        flex-direction: column;
    }
}

.modalContent {
    text-align: center;
    margin-bottom: calc(var(--unit) * 3);
}

.modalContent img {
    max-width: 220px;
    height: auto;
}

.modalContent h4 {
    margin-bottom: var(--unit);
}

.modalContent p {
    color: var(--text-secondary);
}