.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--unit);
}

.wrapper>div {
  width: 100%;
}

.wrapper>div>span {
  font-weight: 700;
}

.coinWrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--unit) * 1);
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: var(--unit);
  height: 45px;
  color: var(--white);
  background: rgba(130, 65, 18, 0.5);
}

.coin {
  width: 35px;
  height: 35px;
}

.helthsWrapper {
  position: relative;
  height: 52px;
  max-width: 120px;
  background-image: url('assets/images/helthsWrapper.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.helths {
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 58px;
}

.progressbar {
  font-size: var(--body1);
  margin-top: var(--unit);
  border-radius: var(--unit);
  height: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #421400;
}

.line {
  transition: 0.4s width ease;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 20px;
  background-color: #a3541b;
  position: relative;
}

.line:after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent);
  background-size: 50px 50px;
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

.score {
  font-size: var(--body2);
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}