.root {
    padding: calc(var(--unit) * 2);
    padding-bottom: calc(var(--unit) * 8);
}

.imageWrapper {
    text-align: center;
    margin-bottom: calc(var(--unit) * 1);
    position: relative;
}

.textImage {
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    position: absolute;
    height: auto;
    max-width: 300px;
    width: 100%;
}

.image {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 180px;
    height: auto;
}

.head {
    text-align: center;
    margin: 0 calc(var(--unit) * 2);
}

.head img {
    margin-bottom: var(--unit);
}

.head h2 {
    margin-bottom: var(--unit);
}

.head p {
    color: var(--text-secondary);
}

.blockWrapper {
    margin-top: calc(var(--unit) * 2);
}

.blockWrapper h5 {
    padding: 0 calc(var(--unit) * 1.5);
    margin-bottom: var(--unit);
}

.scoreWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--border);
    background-color: var(--bg-main);
    padding: calc(var(--unit) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--unit);
}

.positionWrapper {
    display: flex;
    align-items: center;
    gap: calc(var(--unit) * 1.5);
}

.score {
    flex-shrink: 0;
    font-weight: 500;
    color: var(--primary);
}

.blockDescription {
    margin-top: calc(var(--unit) * 2);
    text-align: center;
    color: var(--text-secondary);
}

.blockDescription span {
    color: var(--white);
    font-weight: 500;
}

.tabs {
    margin-top: calc(var(--unit) * 2);
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 1);
}

.tabsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--unit) * 1);
}

.tabs button {
    outline: none;
    border: none;
    width: 100%;
    height: 60px;
    padding: 0 calc(var(--unit)* 1);
    border: 1px solid var(--border);
    border-radius: var(--unit);
    background-color: var(--bg-secondary);
    color: var(--white);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--unit)* 0.5);
}

.tabs .buttonActive {
    background-color: var(--primary);
}

.tabs button > img {
    height: 20px;
    width: auto;
}

.tabs button > span {
    background-color: var(--bg-secondary-light);
    color: var(--text-secondary);
    padding: calc(var(--unit)* 1) calc(var(--unit)* 2);
    border-radius: var(--unit);
    margin-left: calc(var(--unit)* 0.5);
}