.root {
    padding: calc(var(--unit) * 2);
    min-height: var(--tg-viewport-stable-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imageWrapper {
    text-align: center;
    margin-bottom: calc(var(--unit) * 1);
    position: relative;
}

.textImage {
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    position: absolute;
    height: auto;
    max-width: 300px;
    width: 100%;
}

.image {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 165px;
    height: auto;
}

.head {
    text-align: center;
    margin: 0 calc(var(--unit) * 2);
}

.head img {
    margin-bottom: var(--unit);
}

.head h2 {
    margin-bottom: var(--unit);
}

.head p {
    color: var(--text-secondary);
}

.blockWrapper {
    margin-top: calc(var(--unit) * 2);
}

.blockWrapper h5 {
    padding: 0 calc(var(--unit) * 1.5);
    margin-bottom: var(--unit);
}
