.root {
    padding: calc(var(--unit) * 1.5);
}

.imageWrapper {
    text-align: center;
    margin-bottom: calc(var(--unit) * 1);
}

.image {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.head {
    text-align: center;
    margin: 0 calc(var(--unit) * 2);
}

.head img {
    margin-bottom: var(--unit);
}

.head h2 {
    margin-bottom: var(--unit);
}

.head p {
    color: var(--text-secondary);
}

.blockWrapper {
    margin-top: calc(var(--unit) * 2);
}

.blockWrapper h5 {
    padding: 0 calc(var(--unit) * 1.5);
    margin-bottom: var(--unit);
}
