.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.text {
  padding: calc(var(--unit) * 2);
  text-align: center;
}

.text > p {
  color: var(--text-secondary);
  margin-top: calc(var(--unit) * 1);
}

.image {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.slideWrap {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 400px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 3;
  }
  
  .person {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 320px;
    width: auto;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }

@media (max-width: 600px) {
  .image {
    align-items: center;
  }

  .text {
    padding-top: calc(var(--unit) * 4);
  }
}
