.root {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}

.score {
    margin-top: var(--unit);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    gap: var(--unit);
}

.score img {
    width: 45px;
    height: auto;
}

.wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.wrapper > img {
    user-select: none;
}

.kakaxa {
    z-index: 20;
    position: absolute;
    width: 170px;
    height: 245px;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.kakaxaLeftBottom {
    z-index: 20;
    position: absolute;
    width: 170px;
    height: 245px;
    bottom: 0;
    left: 280px;
    transform: scaleX(-1);
}

.kakaxaRightBottom {
    z-index: 20;
    position: absolute;
    width: 170px;
    height: 245px;
    bottom: 0;
    right: 280px;
}

.kakaxaLeftTop {
    z-index: 20;
    position: absolute;
    width: 170px;
    height: 245px;
    bottom: 0;
    left: 280px;
    transform: scaleX(-1);
}

.kakaxaRightTop {
    z-index: 20;
    position: absolute;
    width: 170px;
    height: 245px;
    bottom: 0;
    right: 280px;
}

.islandBig {
    width: 1400px;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -900px;
}

.islandLeftTop {
    transform: scaleX(-1);
    left: 0;
    bottom: 100px;
    position: absolute;
}

.islandLeftBottom {
    transform: scaleX(-1);
    left: 0;
    bottom: -10px;
    position: absolute;
}

.islandRightTop {
    right: 0;
    bottom: 100px;
    position: absolute;
}

.islandRightBottom {
    right: 0;
    bottom: -10px;
    position: absolute;
}

.coin {
    position: absolute;
    z-index: 30;
    width: 75px;
    height: auto;
}

.coinLeftTop {
    opacity: 1;
    transform: scaleX(-1) rotate(-40deg);
    left: 180px;
    bottom: 260px;
    animation: 2s animate forwards;
}

.coinLeftBottom {
    opacity: 1;
    transform: scaleX(-1) rotate(-40deg);
    left: 160px;
    bottom: 160px;
    animation: 2s animate forwards;
}

.coinRightTop {
    opacity: 1;
    transform: rotate(-40deg);
    right: 180px;
    bottom: 260px;
    animation: 2s animate forwards;
}

.coinRightBottom {
    opacity: 1;
    transform: rotate(-40deg);
    right: 160px;
    bottom: 160px;
    animation: 2s animate forwards;
}

@keyframes animate {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
}

.clickableAreaLeftTop {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 30%);
    bottom: 105px;
    display: block;
    z-index: 40;
    left: 0;
    position: absolute;
    width: 300px;
    height: 290px;
}

.clickableAreaLeftBottom {
    clip-path: polygon(0 0%, 100% 70%, 100% 100%, 0% 100%);
    bottom: 20px;
    left: 0;
    display: block;
    z-index: 40;
    position: absolute;
    width: 300px;
    height: 290px;
}

.clickableAreaRightBottom {
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    bottom: 20px;
    right: 0;
    display: block;
    z-index: 40;
    position: absolute;
    width: 300px;
    height: 290px;
}

.clickableAreaRightTop {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    bottom: 105px;
    right: 0;
    display: block;
    z-index: 40;
    position: absolute;
    width: 300px;
    height: 290px;
}

.none {
    opacity: 0;
}

@media (max-width: 900px) { 
    .islandLeftTop {
        left: -180px;
    }
    
    .islandLeftBottom {
        left: -180px;
    }
    
    .islandRightTop {
        right: -180px;
    }
    
    .islandRightBottom {
        right: -180px;
    }

    .kakaxaRightBottom,
    .kakaxaRightTop {
        right: 95px;
    }

    .kakaxaLeftBottom,
    .kakaxaLeftTop {
        left: 95px;
    }

    .clickableAreaLeftTop {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 45%);
        bottom: 75px;
        left: -20px;
        width: 200px;
        height: 240px;
    }

    .clickableAreaLeftBottom {
        clip-path: polygon(0 0%, 100% 70%, 100% 100%, 0% 100%);
        bottom: 20px;
        left: -20px;
        width: 200px;
        height: 190px;
    }

    .clickableAreaRightBottom {
        clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
        bottom: 20px;
        right: -20px;
        width: 200px;
        height: 190px;
    }
    
    .clickableAreaRightTop {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
        bottom: 75px;
        right: -20px;
        width: 200px;
        height: 240px;
    }

    .coinLeftTop {
        left: 10px;
        bottom: 250px;
    }
    
    .coinLeftBottom {
        left: 10px;
        bottom: 140px;
    }
    
    .coinRightTop {
        right: 10px;
        bottom: 250px;
    }
    
    .coinRightBottom {
        right: 10px;
        bottom: 140px;
    }
}

@media (max-width: 420px) { 
    .islandLeftTop {
        left: -210px;
    }
    
    .islandLeftBottom {
        left: -210px;
    }
    
    .islandRightTop {
        right: -210px;
    }
    
    .islandRightBottom {
        right: -210px;
    }

    .kakaxaRightBottom,
    .kakaxaRightTop {
        right: 70px;
    }

    .kakaxaLeftBottom,
    .kakaxaLeftTop {
        left: 70px;
    }

    .clickableAreaLeftTop {
        clip-path: polygon(0 0%, 100% 35%, 100% 100%, 0 52%);
        bottom: 70px;
        left: -20px;
        width: 160px;
        height: 250px;
    }

    .clickableAreaLeftBottom {
        clip-path: polygon(0 0%, 100% 70%, 100% 100%, 0% 100%);
        bottom: 20px;
        left: -20px;
        width: 160px;
        height: 170px;
    }

    .clickableAreaRightBottom {
        clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
        bottom: 20px;
        right: -20px;
        width: 160px;
        height: 170px;
    }
    
    .clickableAreaRightTop {
        clip-path: polygon(0 35%, 100% 0, 100% 52%, 0 100%);
        bottom: 70px;
        right: -20px;
        width: 160px;
        height: 250px;
    }

    .coinLeftTop {
        left: 10px;
        bottom: 230px;
    }
    
    .coinLeftBottom {
        left: 10px;
        bottom: 120px;
    }
    
    .coinRightTop {
        right: 10px;
        bottom: 230px;
    }
    
    .coinRightBottom {
        right: 10px;
        bottom: 120px;
    }
}