.root {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}

.score {
    margin-top: var(--unit);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    gap: var(--unit);
}

.score img {
    width: 45px;
    height: auto;
}

.playWrapper {
    margin-top: var(--unit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.playWrapper button {
    z-index: 120;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: url('assets/images/play.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.playWrapper button:disabled{
    background: url('assets/images/play-disabled.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: not-allowed;
}

.timer {
    margin-top: var(--unit);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.wrapper > img {
    user-select: none;
}

.kakaxa {
    z-index: 20;
    position: absolute;
    width: auto;
    height: 245px;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.kakaxaLeftBottom {
    z-index: 20;
    position: absolute;
    width: auto;
    height: 245px;
    bottom: 0;
    left: 250px;
    transform: scaleX(-1) translateZ(0);
}

.kakaxaRightBottom {
    z-index: 20;
    position: absolute;
    width: auto;
    height: 245px;
    bottom: 0;
    right: 250px;
    transform: translateZ(0);
}

.kakaxaLeftTop {
    z-index: 20;
    position: absolute;
    width: auto;
    height: 245px;
    bottom: 0;
    left: 280px;
    transform: scaleX(-1) translateZ(0);
}

.kakaxaRightTop {
    z-index: 20;
    position: absolute;
    width: auto;
    height: 245px;
    bottom: 0;
    right: 280px;
    transform: translateZ(0);
}

.islandBig {
    width: 1400px;
    height: auto;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: -900px;
}

.islandLeftTop {
    transform: scaleX(-1) translateZ(0);
    left: 0;
    bottom: 100px;
    position: absolute;
}

.islandLeftBottom {
    transform: scaleX(-1) translateZ(0);
    left: 0;
    bottom: -10px;
    position: absolute;
}

.islandRightTop {
    right: 0;
    bottom: 100px;
    position: absolute;
    transform: translateZ(0);
}

.islandRightBottom {
    right: 0;
    bottom: -10px;
    position: absolute;
    transform: translateZ(0);
}

.coin {
    position: absolute;
    z-index: 30;
    width: 75px;
    height: auto;
}

.coinLeftTop {
    opacity: 1;
    transform: scaleX(-1) rotate(-35deg) translateZ(0);
    left: 95px;
    bottom: 315px;
    animation: 2s animate-coin-left-top forwards;
}

@keyframes animate-coin-left-top {
    0% {
        transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
        opacity: 0;
        left: 95px;
        bottom: 315px;
    }
    10% {
        transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
        left: 95px;
        bottom: 315px;
        opacity: 1;
      }
    50% {
        transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
        opacity: 1;
    }
    90% {
        transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
        opacity: 1;
        left: 245px;
        bottom: 220px;
    }
    100% {
        transform: scaleX(-1) rotate(-40deg) scale(0) translateZ(0);
        left: 245px;
        bottom: 220px;
        opacity: 0;
    }
}

.coinLeftBottom {
    opacity: 1;
    transform: scaleX(-1) rotate(-35deg) translateZ(0);
    left: 95px;
    bottom: 205px;
    animation: 2s animate-coin-left-bottom forwards;
}

@keyframes animate-coin-left-bottom {
    0% {
        transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
        opacity: 0;
        left: 95px;
        bottom: 205px;
    }
    10% {
        transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
        left: 95px;
        bottom: 205px;
        opacity: 1;
      }
    50% {
        transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
        opacity: 1;
    }
    90% {
        transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
        opacity: 1;
        left: 245px;
        bottom: 105px;
    }
    100% {
        transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
        left: 245px;
        bottom: 105px;
        opacity: 0;
    }
}

.coinRightTop {
    opacity: 1;
    transform: rotate(-35deg) translateZ(0);
    right: 95px;
    bottom: 315px;
    animation: 2s animate-coin-right-top forwards;
}

@keyframes animate-coin-right-top {
    0% {
        transform: rotate(-35deg) scale(0) translateZ(0);
        opacity: 0;
        right: 95px;
        bottom: 315px;
    }
    10% {
        transform: rotate(-35deg) scale(1) translateZ(0);
        right: 95px;
        bottom: 315px;
        opacity: 1;
      }
    50% {
        transform: rotate(-35deg) scale(1) translateZ(0);
        opacity: 1;
    }
    90% {
        transform: rotate(-35deg) scale(1) translateZ(0);
        opacity: 1;
        right: 245px;
        bottom: 220px;
    }
    100% {
        transform: rotate(-40deg) scale(0) translateZ(0);
        right: 245px;
        bottom: 220px;
        opacity: 0;
    }
}

.coinRightBottom {
    opacity: 1;
    transform: rotate(-35deg) translateZ(0);
    right: 95px;
    bottom: 205px;
    animation: 2s animate-coin-right-bottom forwards;
}

@keyframes animate-coin-right-bottom {
    0% {
        transform: rotate(-35deg) scale(0) translateZ(0);
        opacity: 0;
        right: 95px;
        bottom: 205px;
    }
    10% {
        transform: rotate(-35deg) scale(1) translateZ(0);
        right: 95px;
        bottom: 205px;
        opacity: 1;
      }
    50% {
        opacity: 1;
        transform: rotate(-35deg) scale(1) translateZ(0);
    }
    90% {
        transform: rotate(-35deg) scale(1) translateZ(0);
        opacity: 1;
        right: 245px;
        bottom: 105px;
    }
    100% {
        transform: rotate(-35deg) scale(0) translateZ(0);
        right: 245px;
        bottom: 105px;
        opacity: 0;
    }
}

.clickableAreaLeftTop {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 30%);
    bottom: 105px;
    display: block;
    z-index: 1000;
    left: 0;
    position: absolute;
    width: 300px;
    height: 290px;
}

.clickableAreaLeftBottom {
    clip-path: polygon(0 0%, 100% 70%, 100% 100%, 0% 100%);
    bottom: 20px;
    left: 0;
    display: block;
    z-index: 1000;
    position: absolute;
    width: 300px;
    height: 290px;
}

.clickableAreaRightBottom {
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    bottom: 20px;
    right: 0;
    display: block;
    z-index: 1000;
    position: absolute;
    width: 300px;
    height: 290px;
}

.clickableAreaRightTop {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    bottom: 105px;
    right: 0;
    display: block;
    z-index: 1000;
    position: absolute;
    width: 300px;
    height: 290px;
}

.explosion {
    position: absolute;
    z-index: 30;
    pointer-events: none;
    user-select: none;
}

.explosionLeftBottom {
    bottom: 110px;
    left: 240px;
}

.explosionLeftTop {
    bottom: 210px;
    left: 240px;
}

.explosionRightBottom {
    transform: scaleX(-1);
    bottom: 110px;
    right: 240px;
}

.explosionRightTop {
    transform: scaleX(-1);
    bottom: 210px;
    right: 240px;
}

.none {
    opacity: 0;
}

@media (max-width: 900px) { 
    .islandLeftTop {
        left: -180px;
    }
    
    .islandLeftBottom {
        left: -180px;
    }
    
    .islandRightTop {
        right: -180px;
    }
    
    .islandRightBottom {
        right: -180px;
    }

    .kakaxaRightTop {
        right: 95px;
    }

    .kakaxaRightBottom {
        right: 65px;
    }

    .kakaxaLeftTop {
        left: 95px;
    }

    .kakaxaLeftBottom {
        left: 65px;
    }

    .clickableAreaLeftTop {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 45%);
        bottom: 75px;
        left: -20px;
        width: 200px;
        height: 240px;
    }

    .clickableAreaLeftBottom {
        clip-path: polygon(0 0%, 100% 70%, 100% 100%, 0% 100%);
        bottom: 20px;
        left: -20px;
        width: 200px;
        height: 190px;
    }

    .clickableAreaRightBottom {
        clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
        bottom: 20px;
        right: -20px;
        width: 200px;
        height: 190px;
    }
    
    .clickableAreaRightTop {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
        bottom: 75px;
        right: -20px;
        width: 200px;
        height: 240px;
    }

    .coinLeftTop {
        left: 10px;
        bottom: 250px;
    }
    
    .coinLeftBottom {
        left: 10px;
        bottom: 140px;
    }
    
    .coinRightTop {
        right: 10px;
        bottom: 250px;
    }
    
    .coinRightBottom {
        right: 10px;
        bottom: 140px;
    }

    .coinLeftBottom {
        left: -20px;
        bottom: 165px;
    }
    
    @keyframes animate-coin-left-bottom {
        0% {
            transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            left: -20px;
            bottom: 165px;
        }
        15% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            left: -20px;
            bottom: 165px;
            opacity: 1;
          }
        50% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
        }
        85% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            left: 60px;
            bottom: 110px;
        }
        100% {
            transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
            left: 60px;
            bottom: 110px;
            opacity: 0;
        }
    }

    .coinRightBottom {
        right: -20px;
        bottom: 165px;
    }
    
    @keyframes animate-coin-right-bottom {
        0% {
            transform: rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            right: -20px;
            bottom: 165px;
        }
        15% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            right: -20px;
            bottom: 165px;
            opacity: 1;
          }
        50% {
            opacity: 1;
            transform: rotate(-35deg) scale(1) translateZ(0);
        }
        85% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            right: 60px;
            bottom: 110px;
        }
        100% {
            transform: rotate(-35deg) scale(0) translateZ(0);
            right: 60px;
            bottom: 110px;
            opacity: 0;
        }
    }

    .coinLeftTop {
        left: -20px;
        bottom: 270px;
    }
    
    @keyframes animate-coin-left-top {
        0% {
            transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            left: -20px;
            bottom: 270px;
        }
        15% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            left: -20px;
            bottom: 270px;
            opacity: 1;
          }
        50% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
        }
        85% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            left: 60px;
            bottom: 225px;
        }
        100% {
            transform: scaleX(-1) rotate(-40deg) scale(0) translateZ(0);
            left: 60px;
            bottom: 225px;
            opacity: 0;
        }
    }

    .coinRightTop {
        right: -20px;
        bottom: 270px;
    }
    
    @keyframes animate-coin-right-top {
        0% {
            transform: rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            right: -20px;
            bottom: 270px;
        }
        15% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            right: -20px;
            bottom: 270px;
            opacity: 1;
          }
        50% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
        }
        85% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            right: 60px;
            bottom: 225px;
        }
        100% {
            transform: rotate(-40deg) scale(0) translateZ(0);
            right: 60px;
            bottom: 225px;
            opacity: 0;
        }
    }

    .explosionLeftBottom {
        left: 60px;
    }
    
    .explosionLeftTop {
        left: 60px;
    }
    
    .explosionRightBottom {
        right: 60px;
    }
    
    .explosionRightTop {
        right: 60px;
    }
}

@media (max-width: 420px) { 
    .islandLeftTop {
        left: -210px;
    }
    
    .islandLeftBottom {
        left: -210px;
    }
    
    .islandRightTop {
        right: -210px;
    }
    
    .islandRightBottom {
        right: -210px;
    }

    .kakaxaRightTop {
        right: 70px;
    }

    .kakaxaRightBottom {
        right: 40px;
    }

    .kakaxaLeftTop {
        left: 70px;
    }

    .kakaxaLeftBottom {
        left: 40px;
    }

    .clickableAreaLeftTop {
        clip-path: polygon(0 0%, 100% 35%, 100% 100%, 0 52%);
        bottom: 70px;
        left: -20px;
        width: 160px;
        height: 250px;
    }

    .clickableAreaLeftBottom {
        clip-path: polygon(0 0%, 100% 70%, 100% 100%, 0% 100%);
        bottom: 20px;
        left: -20px;
        width: 160px;
        height: 170px;
    }

    .clickableAreaRightBottom {
        clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
        bottom: 20px;
        right: -20px;
        width: 160px;
        height: 170px;
    }
    
    .clickableAreaRightTop {
        clip-path: polygon(0 35%, 100% 0, 100% 52%, 0 100%);
        bottom: 70px;
        right: -20px;
        width: 160px;
        height: 250px;
    }

    .coinLeftTop {
        left: 10px;
        bottom: 230px;
    }
    
    .coinLeftBottom {
        left: 10px;
        bottom: 120px;
    }
    
    .coinRightTop {
        right: 10px;
        bottom: 230px;
    }
    
    .coinRightBottom {
        right: 10px;
        bottom: 120px;
    }

    .coinLeftTop {
        left: -20px;
        bottom: 255px;
    }
    
    @keyframes animate-coin-left-top {
        0% {
            transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            left: -20px;
            bottom: 255px;
        }
        20% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            left: -20px;
            bottom: 255px;
            opacity: 1;
          }
        50% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
        }
        80% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            left: 30px;
            bottom: 225px;
        }
        100% {
            transform: scaleX(-1) rotate(-40deg) scale(0) translateZ(0);
            left: 30px;
            bottom: 225px;
            opacity: 0;
        }
    }

    .coinRightTop {
        right: -20px;
        bottom: 255px;
    }
    
    @keyframes animate-coin-right-top {
        0% {
            transform: rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            right: -20px;
            bottom: 255px;
        }
        20% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            right: -20px;
            bottom: 255px;
            opacity: 1;
          }
        50% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
        }
        80% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            right: 30px;
            bottom: 225px;
        }
        100% {
            transform: rotate(-40deg) scale(0) translateZ(0);
            right: 30px;
            bottom: 225px;
            opacity: 0;
        }
    }

    .coinLeftBottom {
        left: -20px;
        bottom: 145px;
    }
    
    @keyframes animate-coin-left-bottom {
        0% {
            transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            left: -20px;
            bottom: 145px;
        }
        20% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            left: -20px;
            bottom: 145px;
            opacity: 1;
          }
        50% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
        }
        80% {
            transform: scaleX(-1) rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            left: 30px;
            bottom: 115px;
        }
        100% {
            transform: scaleX(-1) rotate(-35deg) scale(0) translateZ(0);
            left: 30px;
            bottom: 115px;
            opacity: 0;
        }
    }

    .coinRightBottom {
        right: -20px;
        bottom: 145px;
    }
    
    @keyframes animate-coin-right-bottom {
        0% {
            transform: rotate(-35deg) scale(0) translateZ(0);
            opacity: 0;
            right: -20px;
            bottom: 145px;
        }
        20% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            right: -20px;
            bottom: 145px;
            opacity: 1;
          }
        50% {
            opacity: 1;
            transform: rotate(-35deg) scale(1) translateZ(0);
        }
        80% {
            transform: rotate(-35deg) scale(1) translateZ(0);
            opacity: 1;
            right: 30px;
            bottom: 115px;
        }
        100% {
            transform: rotate(-35deg) scale(0) translateZ(0);
            right: 30px;
            bottom: 115px;
            opacity: 0;
        }
    }

    .explosionLeftBottom {
        left: 40px;
    }
    
    .explosionLeftTop {
        left: 40px;
    }
    
    .explosionRightBottom {
        right: 40px;
    }
    
    .explosionRightTop {
        right: 40px;
    }
}