.root {
    padding: calc(var(--unit) * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 100vh;
}

.imageWrapper {
    text-align: center;
    margin-bottom: calc(var(--unit) * 1);
}

.description {
    margin-top: calc(var(--unit) * 1);
}

.image {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.head {
    text-align: center;
    margin: 0 calc(var(--unit) * 2);
}

.head img {
    margin-bottom: var(--unit);
}

.head h2 {
    margin-bottom: var(--unit);
}

.head p {
    color: var(--text-secondary);
}

.blockWrapper {
    margin-top: calc(var(--unit) * 2);
}

.blockWrapper h5 {
    padding: 0 calc(var(--unit) * 1.5);
    margin-bottom: var(--unit);
}

.button {
    flex-shrink: 0;
    margin-top: calc(var(--unit) * 2);
}

.loader {
    text-align: center;
}