.root {
    transition: 0.3s opacity ease;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: flex;
    align-items: flex-end;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal {
    transition: 0.5s all ease;
    position: relative;
    border-top-left-radius: calc(var(--unit) * 3);
    border-top-right-radius: calc(var(--unit) * 3);
    width: 100%;
    background: var(--bg-secondary);
    left: 0;
    right: 0;
    padding: calc(var(--unit) * 2);
}

.hidden .modal {
    bottom: -100%;
}

.visible .modal {
    bottom: 0;
}

.close {
    font-weight: 500;
    font-size: var(--body0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: calc(var(--unit) * 2);
    top: calc(var(--unit) * 2);
    position: absolute;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--bg-secondary);
}

.close:hover {
    background-color: var(--primary-dark);
}