.root {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.text {
    padding: calc(var(--unit) * 2);
    text-align: center;
}

.text > p{
    color: var(--text-secondary);
    margin-top: calc(var(--unit) * 1);
}

.image {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideWrap {
    position: relative;
    width: 100%;
    max-width: 310px;
    height: 540px;
}

.slide {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.person {
    height: 300px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
}

.kakaxa {
    position: absolute;
    width: 150px;
    left: -50px;
    bottom: 100px;
    z-index: 20;
    height: auto;
}

.bomb {
    position: absolute;
    z-index: 20;
    right: -20px;
    top: 0;
    width: 140px;
    height: auto;
}

@media (max-width: 600px) {
    .text {
      padding-top: calc(var(--unit) * 4);
    }
}