.root {
    min-height: 100vh;
    background-image: url('assets/images/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    padding: calc(var(--unit) * 1.5);
    position: relative;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
}