:root{
    --body0: 1.1rem;
    --body1: 1rem;
    --body2: 0.8rem;
    --h1: 2rem;
    --h2: 1.8rem;
    --h3: 1.7rem;
    --h4: 1.5rem;
    --h5: 1.3rem;
    --h6: 1.15rem;

    --unit: 10px;

    --bg-main: #150801;
    --bg-secondary: #2E1A0F;
    --bg-secondary-light: #452E20;
    --primary: #D8853C;
    --primary-dark: #d3792b;
    --paper: #fff;
    --white: #fff;
    --border: #6D4A36;
    --disabled: #D8853C;
    --green: #D8FF3D;
    --green-dark: #626D36;
    --green-bg: #2E2D0F;
    --red: #F14C2E;
    --red-bg: #2E0F0F;
    --red-dark: #6D3636;
    --success: #54C34B;
    --error: #F14C2E;

    --text-secondary: #926E5B;
    --text-disabled: #cbcbcb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "SFProText", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: var(--bg-main);
    background: var(--bg-main);;
    color: var(--paper);
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #452E20 #150801;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #150801;
}

*::-webkit-scrollbar-thumb {
    background-color: #150801;
    border-radius: 20px;
    border: 4px solid #452E20;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:not(:disabled) {
    cursor: pointer;
}

.notistack-MuiContent-default,
.notistack-MuiContent-success,
.notistack-MuiContent-error {
    border: 1px solid var(--border) !important;
    background-color: var(--bg-secondary) !important;
    background: var(--bg-secondary) !important;
}

.notistack-MuiContent-success svg {
    color: var(--success) !important;
}

.notistack-MuiContent-error svg {
    color: var(--error) !important;
}