.root {
    padding: calc(var(--unit) * 1.5);
    border: 1px solid var(--green);
    background-color: var( --green-bg);
    border-radius: var(--unit);
}

.root > li:not(:last-of-type) {
    margin-bottom: var(--unit);
}

.improvement1Image {
    width: 55px;
    height: auto;
}

.improvement2Image {
    width: 60px;
    height: auto;
    margin-bottom: -10px;
}